<!DOCTYPE html>
<html>
<head>
	<title>Basic Data Grid</title>
	<link rel="stylesheet" type="text/css" href="C:\larapp\CMIS2V1\public\jquery-easyui-1.4.1\themes\default\easyui.css">
	<link rel="stylesheet" type="text/css" href="C:\larapp\CMIS2V1\public\jquery-easyui-1.4.1\themes\icon.css">
	 <script src="C:\larapp\CMIS2V1\public\jquery-easyui-1.4.1\jquery.min.js" type="text/javascript"></script>
 <script src="C:\larapp\CMIS2V1\public\jquery-easyui-1.4.1\jquery.easyui.min.js" type="text/javascript"></script>

</head>
<body>
<table class="easyui-datagrid datagrid-f" style="display:none">
<thead>
	<tr>
		<th data-options="field:'itemsid',width:80">ITEM ID</th>
		<th data-options="field:'productid',width:80">Product ID</th>
		<th data-options="field:'Attrid',width:80">attribute</th>
		
	</tr>
</thead>
</table>
</body>
</html>